<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

      <% if(typeof users != "undefined"){%>
        <% for(let i = 0; i < users.length; i++){%>
          <% for(let o = 0; o < users[i].secrets.length; o++){
            try{
              
              %><p class="secret-text"><%= users[i].secrets[o] %></p> <%
            }catch(error){}
      }}} %>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>